@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
body{
  font-family: 'Poppins', 'Arial', sans-serif;
  font-size: $text-size;
  font-weight: 400;
  line-height: 1.2;
  background: $background-color-light;
}
#app{
  height: 100%;
}
.container{
  margin: 0 auto;
  padding: 0 $container-offset-large;
  max-width: calc($container-width + ($container-offset-large * 2));
}
@media (max-width: 767.98px) {
  .container{
    padding: 0 $container-offset-medium;
    max-width: calc($container-width + ($container-offset-medium * 2));
  }
}
.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset{
  border: none;
  outline: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
img{
  width: 100%;
  object-fit: cover;
}
a{
  text-decoration: none;
  color: inherit;
}
.link{
  font-size: $link-size;
  transition: opacity .3s;
}
.link:hover{
  opacity: $link-hover;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
.title{
  font-size: $title-font-size;
  letter-spacing: .03em;
}
.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.header{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.main{
  flex-grow: 1;
}