$background-color-light: #fff;
$background-linear-gradient: linear-gradient(225deg, #009eff, #004cbd);
$background-footer-top: #2e2e2e;
$background-footer-bottom: #242424;


$title-font-size: clamp(1.25rem, 1.786vw + 0.893rem, 2.5rem);
$title-bottom-font-size: clamp(0.875rem, 0.536vw + 0.768rem, 1.25rem);
$text-color-light: #fff;
$text-color-dark: #2c2c2c;
$text-size: clamp(0.875rem, 0.357vw + 0.804rem, 1.125rem);
$link-size: 16px;

$container-width: 1440px;
$container-offset: 20px;

$header-padding: 20px;

$link-hover: .8;